<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update CRUD</h1>
    <form action="/updateData" method="post">
        <input type="text" value="<%=singleData.id%>" name="id" hidden>
        <input type="text" value="<%=singleData.name%>" name="name" placeholder="Enter Your Name">
        <input type="text" value="<%=singleData.age%>"  name="age" placeholder="Enter Your Age">
        <input type="text" value="<%=singleData.city%>" name="city" placeholder="Enter Your city">
        <button type="submit">Submit</button>
    </form>    
</body>
</html>