<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIVA: Gold & 925 Silver Jewellery | Lab - Grown Diamonds -GIVA Jewellery</title>
     <link rel="shortcut icon" href="./img/givalogo.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Courgette&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Indie+Flower&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
</head>
<body>
<section id="nav">
  <div class="navbar">
     <div class="image">
          <img src="img/1002.png" alt="">
     </div>
     <div class="search">
        <h4>Search "Evil Eye"</h4>
          <img src="./img/search.png" alt="">
     </div>
  </div>
  <div class="menu">
    <div class="shop">
        <h4>Shop by Category</h4>
    </div>
    <h4>Gold With Lab Diamond</h4>
    <h4>GIVA Bday Sale</h4>
    <div class="shop">
        <h4>Gift Store</h4>
    </div>
    <div class="shop">
        <h4>Men's Jewellery</h4>
    </div>
    <div class="shop">
        <h4>Latest Collection</h4>
    </div>
    <div class="shop">
        <h4>More at GIVA</h4>
    </div>
  </div>
    </section>
    <section id="mainnav">
      <div class="img">
         <img src="img/1011.jpg" alt="">
      </div>
      <div class="sale">
         <div class="gift">
           <img src="img/gift.gif" alt="">
           <h4>Birthday Sale</h4>
         </div>
          <div class="gift">
           <img src="img/1020.jpg" alt="">
           <h4>Pendants</h4>
         </div>
          <div class="gift">
           <img src="./img/1022.jpg" alt="">
           <h4>Rings</h4>
         </div>
          <div class="gift">
           <img src="img/1026.jpg" alt="">
           <h4>Men's</h4>
         </div>
          <div class="gift">
           <img src="img/1028.jpg" alt="">
           <h4>Toe Rings</h4>
         </div>
          <div class="gift">
           <img src="img/1030.jpg" alt="">
           <h4>Nose Pins</h4>
         </div>
          <div class="gift">
           <img src="img/1031.jpg" alt="">
           <h4>Silver Chains</h4>
         </div>
          <div class="gift">
           <img src="./img/earrings.png" alt="">
           <h4></h4>
         </div>
      </div>
      <div class="Silver">
        <img src="img/1033.jpg" alt="">
      </div>
      <div class="IMG"> 
        <div class="cake">
          <img src="img/111.jpg" alt="">
          <img src="img/122.jpg" alt="">
        </div>
        <div class="Img1">
          <img src="img/133.jpg" alt="">
        </div>
      </div>
      <div class="circle">
         <img src="img/1041.jpg" alt="">
      </div>
      <div class="dimond">
          <h4>GIVA Essentials</h4>
      </div>
      <div class="gold">
          <img src="img/144.jpg" alt="">
          <img src="img/155.jpg" alt="">
      </div>
      <div class="img12">
         <img src="./img/1111.png" alt="">
      </div>
         <div class="dimond">
          <h4>Shop by Recipient</h4>
      </div>
      <div class="view">
           <img src="img/111112.png" alt="">
           <img src="./img/view.png" alt="">
      </div>
      <div class="price">
        <img src="./img/price.png" alt="">
      </div>
     <div class="dimond">
          <h4>Gifting Guide</h4>
      </div>
      <div class="Guide"  data-aos="zoom-in-out">
         <img src="img/1062.jpg" alt="">
         <img src="img/1063.jpg" alt="">
         <img src="img/1064.jpg" alt="">
         <img src="img/1065.jpg" alt="">
         <img src="img/1066.jpg" alt="">
         <img src="img/1067.jpg" alt="">
      </div>
      <div class="order">
        <img src="img/1075.jpg" alt="">
      </div>
      <div class="dimond">
          <h4>Latest Collections</h4>
      </div>
      <div class="party">
        <div class="Every">
          <img src="img/1077.jpg" alt="">
          <div class="sky">
            <img src="img/1079.jpg" alt="">
            <img src="img/1078.jpg" alt="">
            <img src="img/1080.jpg" alt="">
          </div>
        </div>
         <div class="Every">
          <img src="img/1081.jpg" alt="">
          <div class="sky">
            <img src="img/1082.jpg" alt="">
            <img src="img/1083.jpg" alt="">
            <img src="img/1084.jpg" alt="">
          </div>
        </div>
         <div class="Every">
          <img src="img/1085.jpg" alt="">
          <div class="sky">
            <img src="img/1086.jpg" alt="">
            <img src="img/1087.jpg" alt="">
            <img src="img/1088.jpg" alt="">
          </div>
        </div>
      </div>
        <div class="IMGA">
            <div class="Img11">
          <img src="img/1102.jpg" alt="">
        </div> 
        <div class="cake1">
          <img src="img/1103.jpg" alt="">
          <img src="img/1104.jpg" alt="">
        </div>
       <div class="cake1">
          <img src="img/1105.jpg" alt="">
          <img src="img/1106.jpg" alt="">
        </div>
      </div>
      <div class="Gold">
        <img src="img/1107.png" alt="">
        <img src="img/1108.png" alt="">
        <img src="img/1109.png" alt="">
        <img src="img/1110.png" alt="">
        <img src="img/1109.png" alt="">
      </div>
          <div class="dimond1">
          <h4>Shop By Colour</h4>
      </div>
      <div class="silver">
          <img src="img/1118.jpg" alt="">
          <img src="img/1120.jpg" alt="">
          <img src="img/1122.jpg" alt="">
          <img src="img/1124.jpg" alt="">
      </div>
      <div class="IMGAB">
            <div class="Img12">
          <img src="img/1171.jpg" alt="">
        </div> 
        <div class="cake12">
          <img src="img/1172.jpg" alt="">
          <img src="img/1173.jpg" alt="">
        </div>
       <div class="cake12">
          <img src="img/1174.jpg" alt="">
          <img src="img/1175.jpg" alt="">
        </div>
      </div>
      <div class="pink">
        <img src="img/img122.png" alt="">
      </div>
         <div class="dimond">
          <h4>Essentials for you</h4>
      </div>
      <div class="Explore">
        <img src="img/1186.jpg" alt="">
        <img src="img/1188.jpg" alt="">
        <img src="img/1190.jpg" alt="">
        <img src="img/1192.jpg" alt="">
      </div>
        <div class="dimond">
          <h4>Customer Stories</h4>
      </div>
      <div class="text">
         <div class="vidra">
            <h4>Virda</h4>
            <p>A big shout out to you guys for improving my <br>hubby's gifting tastes.Completely in love  with my <br>ring!  </p>
            <img src="img/1194.jpg" alt="">
         </div>
         <div class="vidra">
            <h4>Harshika</h4>
            <p>A big shout out to you guys for improving my <br>hubby's gifting tastes.Completely in love  with my <br>ring!  </p>
            <img src="img/1195.jpg" alt="">
         </div>
         <div class="vidra">
            <h4>Priya</h4>
            <p>A big shout out to you guys for improving my <br>hubby's gifting tastes.Completely in love  with my <br>ring!  </p>
            <img src="img/1196.jpg" alt="">
         </div>
      </div>
      <div class="About">
      <h4>Know More about GIVA</h4>         
</div>
    </section>
    <section id="footer">
      <div class="linK">
       <div class="link">
         <h1>Quick links</h1>
         <h4>Customer Reviews</h4>
         <h4>Our Blogs</h4>
         <h4>Store Locator</h4>
         <h4>About Us</h4>
         <h4>Join Us</h4>
         <h4>GIVA Gift Cards</h4>
       </div>
       <div class="link">
         <h1>Info</h1>
         <h4>Shipping & Returns</h4>
         <h4>Privacy Policy</h4>
         <h4>International Shipping</h4>
         <h4>FAQs & Support</h4>
       <h4>Terms of Service</h4>
       </div>
         <div class="link1">
         <h1>Contact Us</h1>
         <h4>Bis : HM/C - 6290031216</h4>
         <h4>For any suggestions, queries or complaints <br> please contact us:</h4>
         <h4>Indiejewel Fashions Private Limited</h4>
         <h4>Third Floor, Magnum Vista, Raghuvanahalli,  <br> Bangalore 560062</h4>
       <h4>-care@giva.co</h4>
       <h4>-9228837724 (10 AM to 6:30 PM)</h4>
       </div>
       </div>
       <div class="Email">
        <div class="email">
           <h4>Subscribe for exclusive offers and updates!</h4>
           <div class="mail">
              <h4>Email</h4>  
           </div>
        </div>
        <div class="icon">
          <img src="" alt="">
        </div>
       </div>
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
  AOS.init();
</script>
</body>
</html>