*{
    box-sizing: border-box;
    margin:0px;
      font-family: "Roboto", sans-serif;
    padding:0px;
}
.navbar{
    height:120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.image img{
    height:50px;
}
.search{
display: flex;
justify-content: space-between;
border: 2px solid #929292;
 height:50px;
 width:680px;
 border-radius: 5px;
}
.search h4{
      font-weight: 300;
      font-size:18px;
      margin:13px;
}
#mainnav{
    cursor: pointer;
}
.menu{
      font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
}
.menu h4{
    margin:20px 10px;
    font-weight:400;
    font-size:17px;
}
.menu h4:hover{
    color: #f75c88;
    text-decoration: underline;
}
.img img{
    margin:10px 0px;
    height:500px;
    width:100%;
}
.sale{
    display: flex;
    justify-content: space-evenly;
}
.gift img{
    height:170px;
    width:170px;
    margin:30px 0px;
}
.gift h4{
      font-weight:600;
      text-align: center;
      font-size: 25px;
      margin:-10px 0px;
      font-weight:400;
}
.Silver{
    display: flex;
    justify-content: center;
    margin:50px 0px;
}
.Silver img{
    border-radius:30px;
    height:160px;
    width:50%;
}
.IMG {
  display: flex;
  justify-content: center;
  margin:-60px 0px;
}
.cake {
  display: flex;
  flex-direction: column; 
}
.cake img {
  border-radius:20px;
  height: 250px;
  width: 400px;
}
.Img1 img {
  height: 500px;
  width: 450px;
  border-radius: 40px;
}
.circle{
    display: flex;
    justify-content: center;
}
.circle img{
    height:130px;
    width:750px;
   margin:30px 0px;
   border-bottom-right-radius: 40px;
}
.dimond h4{
    margin:10px 0px;
    text-align: center;
    font-size:30px;
    font-weight:400;
}
.gold{
    display: flex;
    justify-content: center;
}
.gold img{
    margin:10px 0px;
    height:300px;
    width:400px;
}
.img12 img{
    height:200px;
    width:98%;
    margin:0px 15px;
}
.view{
    display: flex;
    justify-content: center;
    gap:20px;
    margin:30px 0px;
}
.view img{
    height:350px;
    width:300px;
}
.price img{
    width:100%;
}
.Guide {
    display: flex;
    justify-content: space-evenly;
}
.Guide img{
    height:300px;
}
.order img{
    height:230px;
    margin:10px 30px;
}
.party{
    display: flex;
    justify-content: space-evenly; 
}
.Every img{
    height:520px;
}
.sky{
    margin:-50px 0px;
    display: flex;
    justify-content: space-evenly;
}
.sky img{
    height:120px;
    width:120px;
}
.IMGA {
  display: flex;
  justify-content: center;
  margin:110px 0px;
}
.cake1 {
    margin:0px 10px;
    gap:10px;
  display: flex;
  flex-direction: column; 
}
.cake1 img {
  border-radius:20px;
  height: 289px;
  width: 300px;
}
.Img11 img {
  height: 600px;
  width: 600px;
  border-radius: 40px;
}
.Gold{
    margin:-80px 0px;
    display: flex;
    justify-content: space-evenly;
}
.Gold img{
    height:300px;
}
.dimond1{
    text-align: center;
    margin:100px 0px;
    font-size:25px;
}
.silver{
    margin:-60px 0px;
    display: flex;
    justify-content: space-evenly;
}
.silver img{
    height:00px;
}
.IMGAB {
    margin:110px 0px;
  display: flex;
  justify-content: center;
}
.cake12 {
    margin:0px 10px;
    gap:10px;
  display: flex;
  flex-direction: column; 
}
.cake12 img {
  border-radius:20px;
  height: 289px;
  width: 300px;
}
.Img12 img {
  height: 600px;
  width: 600px;
  border-radius: 40px;
}
.pink{
    display: flex;
    justify-content: center;
}
.pink img{
    height:350px;
}
.Explore{
    margin:20px 0px;
    display: flex;
    justify-content: space-evenly;
}
.Explore img{
    height:380px;
}
.text{
    display: flex;
    justify-content: space-evenly;
}
.vidra{
    background-color: #ffe6ae;
    height:170px;
    width:480px;
    padding:20px 0px;
    border-radius:20px;
    text-align: center;
}
.vidra h4{
    font-size:30px;
    font-weight:400;
}
.vidra img{
    border-radius:50%;
    height:100px;
    margin:15px 0px;
}
.About{
    text-align: center;
    padding:15px 0px;
    background-color: #fedde4;
    height:50px;margin:70px 0px;
}
#footer{
    margin:-40px 0px;
    background-image: url(img/1197.png);
    height:600px;
    padding:40px 0px;
}
.linK{
    display: flex;
    justify-content: space-evenly;
}
.link h4{
    font-size:20px;
    font-weight: 300;
    margin:25px 0px;
}
.link h4:hover{
    text-decoration: underline;
}
.link1 h4{
    font-size:20px;
    font-weight: 300;
    margin:25px 0px;
}
.Email{
    font-size:20px;
    display: flex;
    margin:30px 0px;
    justify-content:space-around;
}
.mail{
 border: 2px solid #7d7d7d;
 height:60px;
 width:350px;   
}
.mail h4{
    padding:15px 10px;
    font-weight:300;
}
/* aos */