<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Manager</h1>
    <form action="/manager/add" method="post">
        <input type="text" placeholder="Enter Your Name" name="name">
        <input type="text" placeholder="Enter Your email" name="email">
        <input type="text" placeholder="Enter Your Salary" name="salary">
        <button type="submit">Add Manager</button>
    </form>
</body>
</html>