<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Dashboard</h1>

    <a href="/manager/add"><button>Add Manager</button></a>
    <a href="/manager/view"><button>View Manager</button></a>
</body>

</html>