<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>View</h1>
    <%data.map((e,i)=>{%>
      <ul>
        <li><%=e.name%></li>
        <li><%=e.email%></li>
        <li><%=e.salary%></li>
      </ul>
    <%})%>
</body>
</html>